*{
    box-sizing: border-box;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 3px;
    
}



label {
    padding: 5px 5px 5px 0;
    display: inline-block;
}

.name-1 {
    float: left;
    width: 25%;
    
}

.name-2 {
    float: left;
    width: 75%;
    margin-top: 4px;
}

.clear{
    clear: both;
}




@media screen and (max-width: 768px) {
    .name-1, .cname-2 {
        width: 100%;
    }

   
    
}