@import url('./components/header.css');
@import url('./components/sidebar.css');
@import url('./components/main.css');
@import url('./components/footer.css');
@import url('./components/image.css');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    display: flex;
    flex-wrap: wrap;
    background: aqua;
    flex: 1 1 auto;
    background: url(./images/boll3.png) right top repeat-y;
}


@media screen and (max-width:320px) {
    .content{
        width: 320px;
    }
}
