
.block{
    max-width: 100%;
    padding: 50px;

    background: 
    url('./images/top-right.png') right top no-repeat, 
    url('./images/bottom-right.png') right bottom no-repeat,
    url('./images/bottom-left.png') left bottom no-repeat, 
    url('./images/top-left.png') left top no-repeat,
    url('./images/middle_V.png') left center repeat-y, 
    url('./images/middle_G1.png') bottom center repeat-x,  
    url('./images/middle_V.png') right center repeat-y,
    url('./images/middle_G.png') top center repeat-x;
    

}