/* .links-1, .links-2 [href="#"]{
    color: green;} */



    .links-1 li{
        display: inline-block;
        border-right: 2px solid red;
        padding: 10px;
       }
       
       .links-1 a[href="#"]{
           color: green;
       }
       
       .links-1 a:hover{
           color: red;
       }
       
       .links-1 li:nth-child(5) {
           border-right:none; 
       }
       
       
       .links-2 li{
        float: left;
        border-right: 2px solid red;
        padding: 10px;
        margin: 0px;
        list-style-type: none;
        text-align: center;
       }
       
       .links-2 a[href="#"]{
           color: green;
       }
       .links-2 a:hover{
           color: red;
       }
       
       .links-2 li:nth-child(5) {
           border-right:none; 
       }
       
       .links-3 li {
           display: inline;
           padding: 10px;
       
       }
       
       .links-3 [href]{
           color: green;
       }
       .links-3 a:hover{
           color: red;
       }
       
       .links-3 li:nth-child(5) {
           border-right:none; 
       }
       
       .links-3 li::after {
           content: "";
           display: inline-block;
           width: 1px;
           height: 35px;
           background-color: red;
           margin-left: 10px;
           vertical-align: -10px;
           
       }
       
       .links-3 li:nth-child(5) {
           width: 0;
           height: 0;
       }
       
       
       .clear {
           clear: both;
       }
       
       
       
       