
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
  
  
  .layout{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }
  
  .header{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      background:PowderBlue;
      color: blue;
      font-size: 25px;
      font-weight: bold;
      
  }
  
  
  .content{
      display: flex;
      flex-wrap: wrap;
      background: aqua;
      flex: 1 1 auto;
      background: url(./images/boll3.png) right top repeat-y;
     
  }
  
  
  
  .sidebar{
      display: flex;
      
      max-width: 200px;
      width: 20%;
      background:blanchedalmond
  }
  
  .sidebar li{
    font-size: 25 px;
    margin-left: 30px;
    line-height: 30px;
      
  }
  
  
  
  .sidebar h4{
      font-size: 24px;
      margin: 25px 0 25px 20px;
  }
  
  
  .main{
      width: 80%;
      font-size: 20px;
      
  }
  
  .main h3{
      text-align: center;
      padding: 25px 25px;
      font-weight: bold;
  
  }
  
  .footer{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      background:PowderBlue;
      color: blue;
      font-size: 25px;
      font-weight: bold;
      
  }
  
  
  .image{
      float: left;
      margin: 0 35px 20px 35px;
      
  }
  
  .clear{
      clear: left;
  }
  
  
  @media screen and (max-width:768px) {
      
    
  
      .header h2{
          display: inline-block;
          font-size: 22px;
          text-align: center;
          
      }
      
      .sidebar li{
          font-size: 18px;
          line-height: 25px;
      }
  
      .sidebar h4{
          font-size: 18px;
          margin: 17px 0 14px 20px;
      }
  
      .content{
          
      }
  
  
  } 
  
  
  
  
  @media screen and (max-width:320px) {
      .content{
          background: none;
          width: 320px;
      }
      .sidebar{
          min-width: 300px;
          background:none;
  
      }
      .sidebar li{
          display: inline-block; 
          line-height: 5px; 
      }
    
      .sidebar h4{ 
          font-size: 20px;
          margin: 5px 5px;
  
      }
      .header{
          width: 320px;
      }
      
      .header h2{
          font-size: 18px;
          text-align: center;
          
      }
      .image{
          display: block;
          margin: 0 auto
      }
      .main{
          width: 500px;
          font-size: 20px;
      }
      .main h3 { 
          font-size: 25px;
          text-align: center;
          padding: 10px 10px;
      }
  
      .footer h2{
          font-size: 18px;
          text-align: center;
      }
    
      .footer{
          width: 320px;
      }
  
      
  }
      
  
  