.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background:PowderBlue;
    color: blue;
    font-size: 25px;
    font-weight: bold;
    
}

@media screen and (max-width:768px) {
      
      .header h2{
        display: inline-block;
        font-size: 22px;
        text-align: center;
          
      }
  } 
  
@media screen and (max-width:320px) {
      .header{
          width: 320px;
      }
      
      .header h2{
          font-size: 18px;
          text-align: center;
          
      }
  }