
.sidebar{
    display: flex;

    width: 20%;
    background:blanchedalmond
}

.sidebar ul{
    margin-top: 100px;
    margin-left: -130px;

}

.sidebar ul li{
  font-size: 20px;
  margin-left: 10px;
  line-height: 30px;
    
}

.sidebar h4{
    font-size: 24px;
    margin: 40px 0 25px 20px;
}


@media screen and (max-width:768px) {

    .sidebar ul{
        margin-left: -90px;
        margin-top: 80px;
    }

    .sidebar ul li{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
    }
    .sidebar h4{
    font-size: 18px;
    margin: 20px 10px 10px 10px;
    } 
} 

@media screen and (max-width:320px) {

    .sidebar{
        min-width: 320px;
        background:none;
    }
    .sidebar li{
        display: inline-block; 
        
        line-height: 5px; 
    }
    
    .sidebar h4{ 
        font-size: 20px;
    }
}